<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>Members Only</title>

        <link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
        <div class="header-container">
            <div class="title-header-container">
                <h1><a href="/">Members Only</a></h1>
            </div>
            <div class="items-header-container">

                <%if (!currentUser) {%>
                    <h3><a href="sign-up">Sign Up</a></h3>
                    <h3><a href="log-in">Log In</a></h3>
                <%} else {%>

                    <%if (!currentUser.membership_status) {%>
                        <h3><a href="member-sign-in">Become a member</a></h3>
                    <%}%>
                    <%if (!currentUser.admin_status && currentUser.membership_status) {%>
                        <h3><a href="admin-sign-in">Become an admin</a></h3>
                    <%}%>
                    <h3><a href="create-message">Create a message</a></h3>
                    <h3><a href="log-out">Log out</a></h3>
                
                <%}%>

            </div>
        </div>
	</body>
</html>
