<%- include('../layout/header') -%>

<div class="form-container">
	<h1>Become a Member</h1>
	<p>Passcode is: brick</p>

	<form class="log-in-container" action="/member-sign-in" method="POST">

		<div class="label-input-container">
			<label for="secret_code">Enter Secret Code: </label>
			<input
				name="secret_code"
				type="text"
			/>
		</div>

		<button class="submit-button">
			Become a Member
		</button>
	
	</form>

</div>